@model List<ExercicioModel>
@{
    ViewData["Title"] = "Lista de Exercicios";
}

<div class="text-center">

    <h1 class="display-4">Lista de Exercicios</h1>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Musculo Alvo</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ExercicioModel exercicio in Model)
            {
                <tr>
                    <th scope="row">@exercicio.ExercicioId</th>
                    <td>@exercicio.Nome</td>
                    <td>@exercicio.Descricao</td>
                    <td>@exercicio.MusculoAlvo</td>
                    <td>
                        <a role="button" class="btn btn-primary" asp-action="Editar" asp-controller="Exercicio" asp-route-id="@exercicio.ExercicioId">Editar</a> |
                        <a role="button" class="btn btn-danger" asp-action="Excluir" asp-controller="Exercicio" asp-route-id="@exercicio.ExercicioId">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a type="button" class="btn btn-success" asp-action="CadastroExercicio" asp-controller="Exercicio">Cadastrar Exercicio</a>

</div>