@model ClienteViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">"Nome da Sua Academia"</h1>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Editar/Ecluir</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.ListaClientes.Any())
            {
                foreach (ClienteModel cliente in Model.ListaClientes)
                {
                    <tr>
                        <th scope="row">@cliente.ClienteId</th>
                        <td>@cliente.Nome</td>
                        <td>@cliente.DataCadastro</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-excluir" data-cliente-id="@cliente.ClienteId" data-cliente-nome="@cliente.Nome">Excluir</button>
                            <a role="button" class="btn btn-primary" asp-action="Editar" asp-controller="Cliente" asp-route-id="@cliente.ClienteId">Editar</a>





                            <a type="button" class="btn btn-success" id="ver" asp-action="Index" asp-controller="Cliente">Perfil</a>
                        </td>
                    </tr>

                    <div id="excluirModal" class="modal">
                        <div class="modal-content">
                            <span class="close" id="closeExcluirModalBtn">&times;</span>
                            <h2>Deseja Excluir este Cliente?</h2>
                            <p>Nome do Cliente: <span id="nomeCliente"></span></p>
                            <a type="button" class="btn btn-danger btn-lg btn-excluir-modal" asp-controller="Cliente" asp-action="Excluir">Excluir</a>
                            <button type="button" class="btn btn-primary btn-lg" id="closeExcluirModalBtn2">Cancelar</button>
                        </div>
                    </div>
                }
            }


        </tbody>
    </table>
    <a type="button" class="btn btn-success" asp-action="CadastroCliente" asp-controller="Cliente">Cadastrar Cliente</a>
</div>
