@model ClienteViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">"Nome da Sua Academia"</h1>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Data de Cadastro</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.ListaClientesComTreinos.Any())
            {
                foreach (var clienteComTreinos in Model.ListaClientesComTreinos)
                {
                    <tr>
                        <th scope="row">@clienteComTreinos.Cliente.ClienteId</th>
                        <td>@clienteComTreinos.Cliente.Nome</td>
                        <td>@clienteComTreinos.Cliente.DataCadastro</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-excluir" data-cliente-id="@clienteComTreinos.Cliente.ClienteId" data-cliente-nome="@clienteComTreinos.Cliente.Nome">Excluir</button>
                            <a role="button" class="btn btn-primary" asp-action="Editar" asp-controller="Cliente" asp-route-id="@clienteComTreinos.Cliente.ClienteId">Editar</a>
                            <a type="button" class="btn btn-success" asp-action="Index" asp-controller="Cliente" asp-route-clienteId="@clienteComTreinos.Cliente.ClienteId">Treino</a>



                        </td>
                    </tr>

                    <div id="excluirModal" class="modal">
                        <div class="modal-content">
                            <span class="close" id="closeExcluirModalBtn">&times;</span>
                            <h2>Deseja Excluir este Cliente?</h2>
                            <p>Nome do Cliente: <span id="nomeCliente"></span></p>
                            <a type="button" class="btn btn-danger btn-lg btn-excluir-modal" asp-controller="Cliente" asp-action="Excluir">Excluir</a>
                            <button type="button" class="btn btn-primary btn-lg" id="closeExcluirModalBtn2">Cancelar</button>
                        </div>
                    </div>
                }
            }
        </tbody>
    </table>
    <a type="button" class="btn btn-success" asp-action="CadastroCliente" asp-controller="Cliente">Cadastrar Cliente</a>
    <a type="button" class="btn btn-success" asp-action="Index" asp-controller="Exercicio">Lista de Exercicios</a>
</div>
